<div class="container">
    <div class="row">
      <div class="one-column" style="margin-top: 10%">
        <h1>Structure of an API Request and Its JSON Response</h1>
        <h5>Now that we understand what an API is. Let's make our first Twitter API request and discuss it's response.</h5>

        <p></p>
        <a class="button button-primary" href="/api-part1">Previous</a>
        <a class="button button-primary" href="/api-part3">Next</a>

    </div>
</div>