<div class="container">
    <div class="row">
      <div class="one-column" style="margin-top: 10%">
        <h1>What is an API?</h1>
        <h5>Before delving into using Twitter's API. Let's explore what an API is.</h5>

        <p> API stands for Application Programming Interface. Quite a mouthful and a fancy name for a concept which is pretty easy to understand. In one sentence, an API is an interface that lets a program that you are writing control or access a program that some other person wrote. Now why would this be useful? </p>

        <p>Let's think of an analogy. Everyday I drive a car and through some miracle of engineering neither I nor the car spontaneously combusts. I also get to my destination without many problems. Though fascinating, I do not really care precisely how every aspect of my car works. I just want to drive and get to where I need to go. The interface of the car would be the steering wheel, gearshift, gas pedal, break pedal, and all of the other controls that let me drive my car. Now, say I wanted to teach my good robot friend, Killroy, how to drive a car. When building him I would not have to teach him about the inner workings of the car. I would just show him how to use the "interface" (the gas pedal, steering wheel etc...)!</p>

        <h3>Accessing our API Key</h3>
        <p>Before moving on to the next module. Let's gather all the information we will need to actually accesss our API Key. You'll want to keep this information private as this is unique and connected to you. We will be saving 4 pieces of information which will allow us to make calls.</p>
        <p><a href="https://apps.twitter.com/">Navigate back</a> to apps.twitter.com. You now should see your Twitter app that you created in the last module like so:</p>
        <img src="/static/images/twithome.png" style="max-width: 75%">
        <p>Once you have clicked on your app you should see the following screen. Now, click on "Keys and Access Tokens"</p>
        <img src="/static/images/twitaccess.png" style="max-width: 75%">
        <p>You should now a screen with the following information:</p>
            <ul>
                <li> Consumer Key (API Key)
                <li> Consumer Secret (API Secret)
                <li> Access Token
                <li> Access Token Secret
            </ul>
        <img src="/static/images/accesskeys.png" style="max-width: 90%">

        <p>Think of this information as similar to the user names and passwords you use to access other accounts you may have online. We will be needing these four pieces of information to work with Twitter's API. Either keep this window open or save this information for later.
        </p>

        <h3>Moving Forward</h3>
        <p>In our next module, we will begin working with the Twitter API. We do not have to have any idea how Twitter works internally. We just have to know their API which allows programmers to interact with their application. So, take a deep breath and let's keep steaming ahead.</p>




        <a class="button button-primary" href="/intro">Previous</a>
        <a class="button button-primary" href="/api-part2">Next</a>

    </div>
</div>