<div class="container">
    <div class="row">
      <div class="one-column" style="margin-top: 10%">
        <h1>Getting started with Twitter and getting a Twitter API key</h1>
        <h5>This page will show you how to make a Twitter Account and signup for a Twitter Developer API Key</h5>

        <a class="button button-primary" href="/home">Previous</a>
        <a class="button button-primary" href="/api-part1">Next</a>

    </div>
</div>