<div class="container">
</div>

<div class="container">
    <div class="row">
      <div class="one-column" style="margin-top: 10%">
        <h1>Welcome!</h1>
        <h5>This how-to guide will show you how to create a simple Twitter bot.</h5>
        <h3>Some Preliminaries</h3>
        <p>If you are anyone who isn't me you probably have a Twitter. Sadly, my first tweet was actually from my twitter bot's account which I made for this page. This guide assumes you have a basic knowledge of computers, HTML/CSS, JavaScript, and JSON (pronounced "jason"). Here is what we'll be learning and doing</p>

        <h3>What we will learn</h3>
        <ul><ul>
        	<li>What an API is</li>
        	<li>How to get a Twitter API key</li>
        	<li>How to "make calls" or use the Twitter API</li>
        	<li>How to process the responses we get</li>
        </ul></ul>

        <h3>What we will be making</h3>
        <p>Our end product will put all of the pieces we learn together to create a simple Twitter bot. Our bot will be able to randomly select from a list of phrases and post a tweet from this list.</p>
      </div>

      <h3>References</h3>
      <p>These are the two primary resources that I used when creating this how-to guide</p>
      <ul>
        <li><a href="https://dev.twitter.com/overview/documentation">Twitter's Official Documentation</li>
        <li><a href="https://github.com/BoyCook/TwitterJSClient/blob/master/README.md">TwitterJSClient Documentation</li>
      </ul>

      <a class="button button-primary" href="/intro">Let's get started!</a>
    </div>

</div>