<div class="container">
</div>

<div class="container">
    <div class="row">
      <div class="one-column" style="margin-top: 10%">
        <h1>Welcome!</h1>
        <h5>This how-to guide will show you how to create a simple Twitter bot.</h5>
        <h3>Some Preliminaries</h3>
        <p>If you are anyone who isn't me you probably have a Twitter account. Because of my unintiation in the use of Twitter, I spend a page explaining how a Twitter works on a basic level. We then look at the anatomy of a tweet or the component parts of a tweet. Understanding this is important in the creation of our bot! This guide assumes you have a basic knowledge of computers, HTML/CSS, and JSON (pronounced "jason"). But enough here is what we'll be learning and doing</p>

        <h3>What we will learn</h3>
        <ul><ul>
        	<li>What an API is</li>
        	<li>How to get a Twitter API key</li>
        	<li>How to "make calls" or use the Twitter API</li>
        	<li>How to process the responses we get</li>
        </ul></ul>

        <h3>What we will be making</h3>
        <p>Our end product will put all of the pieces we learn together to create a simple Twitter bot. Our bot will periodically tweet some pre-chosen phrases by us. The bot will also rudely respond to tweets unless properly addressed. (Manners are really really important) But enough fluff, let's get started.</p>
      </div>
    </div>

</div>