<div class="container">
    <div class="row">
      <div class="one-column" style="margin-top: 10%">
        <h1>Getting started with Twitter and Getting a Twitter API Key</h1>
        <h5>This page will show you how to make a Twitter Account and signup for a Twitter Developer API Key</h5>

        <h3> Signing up for Twitter </h3>
        <p> Though you may already have a Twitter account,
            you will need a separate account for your bot.
            <a href="https://twitter.com/signup">Create a new account</a> by clicking the hyperlink which will lead to the following screen:
        </p>
        <img src="/static/images/twitsignup.png" style="max-width: 50%">
        <h3> Getting a Twitter API Key </h3>
        <p> Now, that you have a brand, spanking new Twitter account, you'll need to <a href="https://apps.twitter.com/">create an application</a> or app for your bot. If you're already signed into Twitter you won't need to log back in. Your Twitter username and password is what you will use to log into the "apps.twitter.com" website.</p>

        <p>Once logged in, click on "Create New App".</p>
        <img src="/static/images/createstart.png" style="max-width: 75%">

        <p>Then, you should see a screen as follows:</p>
        <img src="/static/images/createanapp.png" style="max-width: 75%">
        <p>Don't get too hung up on how you fill this out. All of it can be changed relatively easily. Leave the callback URL blank for now. We will be coming back to this page later. For now, I just wanted to get you all signed up.</p>

        <h3>What's coming up</h3>
        <p>
        If you are all signed up then you are ready to continue! Next, you will be learning what an <b>Application Program Interface</b> (API) is, what an API request looks like, and what a <b>JavaScript Object Notation</b> (JSON) reponse looks like </p>

        <a class="button button-primary" href="/home">Previous</a>
        <a class="button button-primary" href="/api-part1">Next</a>

    </div>
</div>